/* Grid-container class starts here */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
/* Grid-container class ends here */

/* Header class starts here */
.header{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:1;
    grid-row-end: 2;
}
/* Header class ends here */

/* Heading class starts here */
.heading{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 3;
    grid-row-end:4 ;
}
/* Heading class ends here */

/* Content class starts here */
.content{
    grid-column-start: 2;
    grid-column-end: 6 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}
/* Content class ends here */

/* Footer class starts here */
.footer{
    grid-column-start: 1;
    grid-column-end:7 ;
    grid-row-start: 6;
    grid-row-end: 7;
}
/* Footer class ends here */

/* Body starts here */
body{
    background-color: #F8F5EB;
}
/* Body ends here */

/* Logo class starts here */
.logo{
    width: 200px;
    margin: 20px;
    float: left;
}
/* Logo class ends here */

/* Navbar class starts here */
.navbar{
    float: right;
}
/* Navbar class ends here */

/* A tag in navbar class starts here */
.navbar a{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1.3rem;
    text-decoration: none;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}
/* A tag in navbar class ends here */

/* H1 starts here */
h1{
    font-family: "Rantera";
    color: white;
    font-size: 4rem;
    background-color: #A8A191;
    text-align: center;
    padding: 50px;
    margin-top: -0.1%;
}
/* H1 ends here */

/* P tag in heading class starts here */
.heading p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.3rem;
    background-color: #A8A191;
    text-align: center;
    margin-top: -4%;
    padding: 50px;
}
/* P tag in heading class ends here */

/* H2 starts here */
h2{
    font-family: "Rantera";
    color: #4A4632;
    font-size: 35px;
    text-align: center;
    padding: 50px;
}
/* H2 ends here */

/* P tag in content class starts here */
.content p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1.2rem;
    text-align: center;
    margin-top: -50px;
}
/* P tag in content class ends here */

/* Li tag in content class starts here */
.content li{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1.2rem;
}
/* Li tag in content class starts here */

/* H3 starts here */
h3{
    color: #4A4632;
    font-family: "Rantera";
    font-size: 35px;
    text-align: center;
    margin-top: -1%;
    padding: 50px;
}
/* H3 ends here */

/* Contactinfo class starts here */
.contactinfo{
    width: 50px;
    padding: 20px;   
}
/* Contactinfo class ends here */

/* Contact class starts here */
.contact{
    margin-left: 42.5%;
    margin-top: -20px;
}
/* Contact class ends here */

/* P tag in footer class starts here */
.footer p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1rem;
    display: block;
    margin-left: 38.5%;
    margin-top: 20px;
}
/* P tag in content class ends here */


