/* Grid-container class starts here */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
/* Grid-container class ends here */

/* Header class starts here */
.header{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:1;
    grid-row-end: 2;
}
/* Header class ends here */

/* Heading class starts here */
.heading{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 3;
    grid-row-end:4 ;
}
/* Heading class ends here */

/* Background1 class starts here */
.background1{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}
/* Background1 class ends here */

/* Content1 class starts here */
.content1{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}
/* Content1 class ends here */

/* Background2 class starts here */
.background2{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}
/* Background2 class ends here */

/* Content2 class starts here */
.content2{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}
/* Content2 class ends here */

/* Background3 class starts here */
.background3{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}
/* Background3 class ends here */

/* Content3 class starts here */
.content3{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}
/* Content3 class ends here */

/* Background4 class starts here */
.background4{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}
/* Background4 class ends here */

/* Content4 class starts here */
.content4{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}
/* Content4 class ends here */

/* Background5 class starts here */
.background5{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}
/* Background5 class ends here */

/* Content5 class starts here */
.content5{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}
/* Content5 class ends here */

/* Background6 class starts here */
.background6{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}
/* Background6 class ends here */

/* Content6 class starts here */
.content6{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}
/* Content6 class ends here */

/* Footer class starts here */
.footer{
    grid-column-start: 1;
    grid-column-end:7 ;
    grid-row-start: 7;
    grid-row-end: 8;
}
/* Footer class ends here */

/* Body starts here */
body{
    background-color: #F8F5EB;
}
/* Body ends here */

/* Logo class starts here */
.logo{
    width: 200px;
    margin: 20px;
    float: left;
}
/* Logo class ends here */

/* Navbar class starts here */
.navbar{
    float: right;

}
/* Navbar class ends here */

/* A tag in NavBar class starts here */
.navbar a{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1.3rem;
    text-decoration: none;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}
/* A tag in NavBar class ends here */

/* H1 starts here */
h1{
    font-family: "Rantera";
    color: white;
    font-size: 4rem;
    background-color: #A8A191;
    text-align: center;
    padding: 50px;
    margin-top: -0.1%;
}
/* H1 ends here */

/* H2 starts here */
h2{
    font-family: "Rantera";
    color: white;
    font-size: 35px;
    background-color: #A8A191;
    text-align: center;
    padding: 50px;
    margin-top: -6%;
}
/* H2 ends here */

/* P tag in heading class starts here */
.heading p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.3rem;
    background-color: #A8A191;
    text-align: center;
    margin-top: -4%;
    padding: 50px;
}
/* P tag in heading class ends here */

/* Background1 class starts here */
.background1{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-left: 280px;
    margin-top: 100px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}
/* background1 class ends here */

/* Hover animation on background1 class starts here */
.background1:hover{
    transform: scale(1.1);
}
/* Hover animation on background1 class ends here */

/* Background2 class starts here */
.background2{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: -600px;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}
/* background2 class ends here */

/* Hover animation on background2 class starts here */
.background2:hover{
    transform: scale(1.1);
}
/* Hover animation on background2 class ends here */

/* Background3 class starts here */
.background3{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}
/* background3 class ends here */

/* Hover animation on background3 class starts here */
.background3:hover{
    transform: scale(1.1);
}
/* Hover animation on background3 class ends here */

/* Background4 class starts here */
.background4{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}
/* background4 class ends here */

/* Hover animation on background4 class starts here */
.background4:hover{
    transform: scale(1.1);
}
/* Hover animation on background4 class ends here */

/* Background5 class starts here */
.background5{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}
/* background5 class ends here */

/* Hover animation on background5 class starts here */
.background5:hover{
    transform: scale(1.1);
}
/* Hover animation on background5 class ends here */

/* Background6 class starts here */
.background6{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}
/* background6 class ends here */

/* Hover animation on background6 class starts here */
.background6:hover{
    transform: scale(1.1);
}
/* Hover animation on background6 class ends here */

/* Color class starts here */
.color{
    height: 350px;
    width: auto;
    border-radius: 5px;
    margin-top: 8%;
    margin-left: 6%;
}
/* Color class ends here */

/* img in color class starts here */
.color img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 1s ease;
}
/* img in color class ends here */

/* Hover animation on img in color class starts here */
.color img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}
/* Hover animation on img in color class ends here */

/* P tag starts here */
p {
    font-family: "Rantera";
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 25%;
}
/* P tag ends here */

/* Hr starts here */
hr {
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #4A4632;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }
/* Hr ends here */

/* H3 starts here */
h3{
    color: #4A4632;
    font-family: "Rantera";
    font-size: 35px;
    text-align: center;
    margin-top: -1%;
    padding: 50px;
}
/* H3 ends here */

/* Contactinfo class starts here */
.contactinfo{
    width: 50px;
    padding: 20px;   
}
/* Contactinfo class ends here */

/* Contact class starts here */
.contact{
    margin-left: 42.5%;
    margin-top: -20px;
}
/* Contact class ends here */

/* P tag in footer class starts here */
.footer p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1rem;
    margin-top: 20px;
}
/* P tag in footer class ends here */